#caja{
		background: transparent;
		text-align: center;
		width: 300px;
		height: 350px;
		border: 1px solid white;
		border-radius: 10px;
		box-shadow: inset 0 0 10px #000



}
.container{
	border-top: 100px;
	clear: both;
	margin: 0 auto;


	
}
#redes{
	width: 30px;
}
#logos{
	margin: 0 auto;
	margin-left: 6%;
}
#icono{
	width: 30px;
	
}
header{
	clear: right;
}

body{
		background-image: url("../imagenes/123.jpg");
		background-repeat: no-repeat;
		-webkit-background-size: cover;
    	-moz-background-size: cover;
    	-o-background-size: cover;
    	background-size: cover;



}

#inputext{
	margin: 0 0 1em 0;
	width: 200px;
	border: 0px;
	padding: 1em;
	border-radius: 0px 10px 0px 10px;

	
}
#select{
	margin: 0 0 1em 0;
	width: 200px;
	height: 45px;
	border: 0px;
	padding: 1em;
	border-radius: 0px 10px 0px 10px;
	margin-left: 35px;

	
}
#botonlogin{
	padding: 1em;
	background: #559123;
	border: none;
	color: white;
	font-family: arial black;
	border-radius: 3px;
	font-size: 14px;
	width: 200px;

}

input[type=submit]:hover{
	background: #326E00;
	cursor: pointer;
}

h2,h4{
	font-family: arial;
	color: #559123;

}
h3{
	color:#fff;
}


footer{
	background-color: #fff;


}

#login{
	color: #fff;
}
#contac{
	margin: 0 auto;

}

